<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>MySQL备份恢复系统</title>
<link rel="stylesheet" type="text/css" href="/assets/layui/css/layui.css">
<link rel="stylesheet" type="text/css" href="/assets/css/layui.color.css">
<style type="text/css">
    /* 表格图标样式 */
    a i {
        font-size: 14px !important;
        margin: auto 5px;
        cursor: pointer;
    }
    .module-padding {
        padding: 20px;
        display: none;
    }
    .iframe-main {
        margin: auto 10px;
    }
</style>
